{% extends 'base.html.twig' %}
{% block body %}
    <hr>
    {{ form_start(form, {'attr': {'class': 'form-inline text-center'}}) }}
    {{ form_widget(form.search) }}
    {{ form_widget(form.vu) }}
    {{ form_widget(form.genre) }}
    {{ form_widget(form.ordre) }}
    {{ form_widget(form.classement) }}
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
    <hr>

    <div class="row">
        <h2>Liste des films</h2>
        <p>Nombre de film <span class="badge">{{ count }}</span></p>
        {% for film in films %}
            <div class="col-xs-4 col-md-2">
                <div class="thumbnail">
                    <a href="{{ path('lew_movie_show', {'movie': film.id }) }}">
                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ film.image }}"></a>
                    <div class="caption text-center">
                        <a href="{{ path('lew_movie_show', {'movie': film.id }) }}"><b>{{ film.title[:25] }}{% if film.title|length > 25 %}…{% endif %}</b></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
